.hpc {
    padding: 100px 0 0;
}

/* home banner styles */
.homepage-banner-image {
    background-image: url('../assets/house.png');
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-bar {
    width: 500px;
    height: 50px;
    padding: 10px 20px;
    border: none;
}

/* THE HOMES STYLES... */
.home-section-two {
    padding: 0 0 400px;
    /* border: 1px solid green; */
}
.section-mini-container {
    /* border: 1px solid black; */
    width: max-content;
    /* margin-top: 25px; */
}
.home-section-two-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    padding: 0 0 10px;
    /* border: 1px solid blue; */
}
.home-section-two-heading span {
    color: #000000;
}

.home-section-display-grid {
    /* border: 1px solid black; */
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 40px;
    margin-bottom: 100px;
}

.home-option-wrapper {
    border: 1px solid #dadada;
    width: 380px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
}
.home-option-wrapper:hover {
    border: 1px solid #7b61ff;
}

.home-option-wrapper:hover .home-img {
    width: 380px;
    height: 300px;
}

.home-option-image-container {
    width: 380px;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-option-image img {
    width: 360px;
    height: 280px;
    transition: all 500ms ease;
}

.home-option-text {
    width: 380px;
    height: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-option-text-marginal-wrapper {
    width: 360px;
    height: 140px;
    /* border: 1px solid red; */
}

.price-agency-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
    /* border: 1px solid green; */
}

.house-price, .house-specs, .house-specs1 div, .house-specs2 div {
    color: #000000;
}
.house-price {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.listing-agent {
    color: #7b61ff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.house-location {
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 0;
    /* border: 1px solid yellow; */
}
.house-specs {
    width: max-content;
    /* border: 1px solid blue;s */
}
.house-specs1, .house-specs2 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    padding: 6px 0;
    /* border: 1px solid green; */
}

/* FILTER STYLES */
.filter-container {
    margin-top: 58px;
    border: 1px solid #dadada;
    width: 420px;
    height: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-marginal-container {
    width: 380px;
    height: 1080px;
    /* border: 1px solid blueviolet; */
}

.filter-headers {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 37px;
}
.filter-headers h3 {
    color: #393636;
    line-height: 19px;
    font-size: 16px;
    font-weight: 600;
}
.filter-headers button {
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    width: 99px;
    height: 37px;
    color: #393636;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
}
.price-range-heading h3 {
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 0;
}
.filter-range-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
}
.rng {
    width: 186px;
    height: 51px;
    padding: 16px;
    color: #393636;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid #7d7d7d;
    border-radius: 8px;
}
.filter-label {
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.filter-checkbox-heading {
    padding: 20px 0 10px;
}
.filter-checkbox-heading span {
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.filter-checkbox-container, .filter-toggle-btn-container {
    padding: 5px 20px;
    width: 100%;
}
.filter-checkbox-label {
    padding-left: 16px;
    color:#393636;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.filter-toggle-btn {
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: none;
}


.flexy-pop {
    /* border: 1px solid green; */
    padding: 40px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px
}