.menu {
  background: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.nav-container {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-link img {
  width: 107.93px;
  height: 60px;
}

.menu-options {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 370px;
  height: 39px;
}

.menu-options div a span {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.account-options {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 266px;
  height: 39px;
}

.account-options div a span {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.account-creator a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 6px;
  width: 159px;
  height: 39px;
  transition: all .3s ease-in-out;
}
.account-creator a:hover {
  opacity: .6;
}

.user-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #0D75F0;
  width: 87px;
  height: 39px;
  transition: all .3s ease-in-out;
}

.user-login a:hover {
  opacity: .6;
}


/* temporary styles */
.custom_rounded_temp {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.zero_bg {
  background: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.temp_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}