* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter-VariableFont_slnt\,wght.ttf)
}

a {
  text-decoration: none;
  color: #fff;
}