* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter-VariableFont_slnt\,wght.ttf)
}

a {
  text-decoration: none;
  color: #fff;
}

input[type="checkbox"] {
  accent-color: #000000;
}

.dnd {
  color: #000000;
  border: 2px dashed #7b61ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 400px;
}